<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Gym Tracker</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/contests.css">
    </head>
    <body>
        <div id="contests-page">
            <div class="alert alert-warning" role="alert" id="alert">
                Alert
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Gym Tracker</a>
                <i class="nav-item nav-link fas fa-users" id="friends-btn"></i>
                <i class="nav-item nav-link fas fa-bell" id="notifications-btn"></i>
                <i class="nav-item nav-link fas fa-sign-out-alt" id="logout-btn"></i>
            </nav>
            <div id="notifications" class="nav-popup hidden">
                <h3>Notifications</h3>
            </div>
            <div id="friends" class="nav-popup hidden">
                <h3>Friends</h3>
                <ul id="friends-list">
                    <li class="friend">Hello</li>
                </ul>
                <label>Add a friend:</label>
                <input type="text" id="friend-search" placeholder="ex: John Doe">
                <div id="user-results" class="hidden">
                    <div class="user-result">User 1</div>
                </div>
            </div>
        
            <div class="modal fade" id="create-contest-modal" tabindex="-1" role="dialog" aria-labelledby="modalName" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modalName">New Contest</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <label for="contest-name-entry">Contest Name:</label>
                        <input type="text" id="contest-name-entry" placeholder="ex: Cool contest 1"><br>
                        <label>Invite friends:</label>
                        <div id="contest-invite-box">
                        </div><br>
                        <label>Contest Type:</label><br>
                        <input type="radio" name="type" value="onetime" id="onetime">
                        <label for="onetime">One-Time</label>&ensp;
                        <input type="radio" name="type" value="progress" id="progressovertime">
                        <label for="progressovertime">Progress Over Time</label><br>
                        <div id="dates" style="display: none">
                            <label for="start-date">From: </label><input type="date" id="start-date"><br>
                            <label for="end-date">To: </label> <input type="date" id="end-date"><br>
                        </div>
                        <label for="routine-dropdown">Choose a Routine:</label>
                        <select id="routine-dropdown">
                        </select>
                        <div id="workout-choice" style="display: none">
                            <label for="workout-dropdown">Choose a Workout: </label>
                            <select id="workout-dropdown">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info" id="create-btn">Create</button>
                    </div>
                </div>
                </div>
            </div>  

            <h1>Contests</h1>
                <div id="contests-box">
                    <% if(contests.length === 0) { %>
                        <h4>Nothing here yet...</h4>
                    <% } %>
                    <% contests.forEach(function(contest) { %>
                        <div class="contest" data-id=<%=contest.id%>>
                            <% if(contest.type === "progress") { %>
                                <i class="far fa-calendar-alt"></i>
                            <% } %>

                            <img src="https://www.shareicon.net/download/2015/12/30/695232_first.svg" class="standings-btn">
                            <p class="contest-name"><%=contest.name%></p>
                            <button class="btn log-workout-btn" data-id=<%=contest.routineID%>>Log Workout</button>
                        </div>
                    <% }); %>
                    <br>
                    <p id="create-contest-btn" data-toggle="modal" data-target="#create-contest-modal">Create contest<p>
                </div>
            </div>
           
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <script src="/javascripts/navbar.js"></script>
        <script src="/javascripts/contests.js"></script>
    </body>
</html>