<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Gym Tracker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
        <div id="login-page">
            <h1>Gym Tracker</h1>
            <div id="login-page-container">
                <div id="login-area">
                        <h2>Login</h2>
                        <form id="login-form">
                            <div class="form-group">
                                <label for="login-email-entry">Email:</label>
                                <input type="email" class="form-control" id="login-email-entry" placeholder="abc@example.com">
                            </div>
                            <div class="form-group">
                                <label for="login-password-entry">Password:</label>
                                <input type="password" class="form-control" id="login-password-entry">
                            </div>
                            <button type="submit" class="btn btn-info" id="login-btn">Login</button>
                        </form>
                    </div>
                <div id="register-area">
                    <h2>Register</h2>
                    <form id="register-form">
                        <div class="form-group">
                            <label for="first-name-entry">First Name:</label>
                            <input id="first-name-entry" class="form-control" type="text" placeholder="John">
                        </div>
                        <div class="form-group">
                            <label for="last-name-entry">Last Name:</label>
                            <input id="last-name-entry" class="form-control" type="text" placeholder="Doe">
                        </div>
                        <div class="form-group">
                            <label for="register-email-entry">Email:</label>
                            <input type="email" class="form-control" id="register-email-entry" placeholder="abc@example.com">
                        </div>
                        <div class="form-group">
                            <label for="register-password-entry">Password:</label>
                            <input type="password" class="form-control" id="register-password-entry">
                        </div>
                        <button type="submit" class="btn btn-info" id="register-btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <script src="/javascripts/login.js"></script>
    </body>
</html>