<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Gym Tracker</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/routines.css">
    </head>
    <body>
        <div id="routines-page">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Gym Tracker</a>
                <i class="nav-item nav-link fas fa-users" id="friends-btn"></i>
                <i class="nav-item nav-link fas fa-bell" id="notifications-btn"></i>
                <i class="nav-item nav-link fas fa-sign-out-alt" id="logout-btn"></i>
            </nav>
            <div id="notifications" class="nav-popup hidden"></div>
            <div id="friends" class="nav-popup hidden"></div>
            <h1>Routines</h1>
                <div id="routines-box">
                    <% routines.forEach(function(routine) { %>
                        <div class="routine" data-id=<%=routine.id%>>
                            <button class="btn log-workout-btn">Log Workout</button>
                            <button class="btn edit-routine-btn">Edit</button>
                            <p class="routine-name"><%=routine.name%></p>
                        </div>
                    <% }); %>
                    <p id="add-routine-btn">Add routine...</p>
                </div>
            </div>
           
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <script src="/javascripts/navbar.js"></script>
        <script src="/javascripts/routines.js"></script>
    </body>
</html>