html, body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}
  
.hidden {
  display: none;
}

.navbar {
  background-color: #e3f2fd;
}

.navbar i {
  cursor: pointer;
}

.nav-popup {
  width: 350px;
  height: 500px;
  z-index: 1;
  position: fixed;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  margin: 0 auto;
  padding: 10px;
}

.alert {
  width: 350px;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transition: opacity .4s;  
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track:hover {
  background: #c4c4c4;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
    background: #c4c4c4;
    border-radius: 50px;
  }
::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 50px;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-track {
    background: #c4c4c4;
    border-radius: 50px;
}

.nav-popup h3 {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
}

#friends-list {
  max-height: 40%;
  overflow: auto;
}

#user-results {
  max-height: 40%;
  overflow: auto;
  width: 100%;
  background-color: white;
  padding-top: 5px;
}

.user-result {
  width: 97%;
  height: 50px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  background-color: white;
  cursor: pointer;
  text-align: center;
  list-style: none;
  margin-bottom: 5px;
  padding-top: 12px;
}

.user-result:hover {
  background-color: lightblue;
}

.notification {
  text-align: center;
}

.notification .btn {
  margin-right: 5px;
}

.log-workout-btn {
  width: 80%;
  height: 100px;
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  background-color: white;
}

.log-workout-btn:hover {
  background-color: #DDDDDD;
}